:host {
    background: dodgerblue;
    display: block;
    padding: 1rem;
}

h3 {
    font-size: 1.25em;
}

time {
    font-size: 0.66em;
}

p {
    font-size: 0.9em;
}

button {
    border-radius: 0.25em;
    font-size: 0.5em;
    line-height: 2;
    padding: 0 0.8em;
}